* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #0f0f0f;
  line-height: 1.6;
}

/* PROFILE SECTION */
.profile-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #111, #1a1a1a);
}

/* Profile Card */
.profile-card {
  display: flex;
  max-width: 1000px;
  background: rgba(255,255,255,0.05);  /* default transparan */
  border-radius: 20px;
  padding: 40px;
  gap: 40px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  backdrop-filter: blur(10px); /* efek glass */
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.4s ease-in-out;
}

.profile-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(255,60,60,0.4);
}

.profile-image img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
  border: 3px solid #7a2e2e;
}

.profile-info h1 {
  font-size: 2rem;
  margin: 0;
}

.profile-info h1 span {
  color: #ff3c3c;
}

.subtitle {
  font-size: 1.1rem;
  margin: 10px 0;
  color: #ddd;
}

.desc {
  margin: 20px 0;
  line-height: 1.6;
  color: #ccc;
}

.profile-details {
  margin: 20px 0;
  line-height: 1.8;
}

.btn:hover {
  background: #ff1f1f;
}
